name: Build aoc-bins
on:
  pull_request:
    paths:
      - '.github/workflows/aoc-bins.yml'
      - 'aoc-bins/**'
  push:
    branches:
      - main

defaults:
  run:
    working-directory: 'aoc-bins'

env:
  # Disable incremental compilation for faster from-scratch builds
  CARGO_INCREMENTAL: 0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: rustup update
    - run: cargo fmt --check
    - run: cargo clippy
    - run: cargo build --release
